<h1>Stupid Coaching</h1>
<div class="input-group mb-3">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" value="<%= params[:question] %>" placeholder="Ask coach a question">
    <input type="submit" value="Ask!">
  </form>
</div>
